.hidden {
    display: none;
}
/* select all tags and resets the default values to 0 */
/* We do not want to rely on the browser defaults */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
header {
    background-color:rgba(143, 50, 205, 0.945);
    padding: 30px 0;
}



main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header > h1 {
    text-align: center;
    padding: 10px;
    
}

/* applies to all articles */
article {
width:400px;
border:  4px solid white;
border-radius: 8px;
margin: 10px;
text-align: left;
}

article h2 {
    color: yellow;
    padding: 4px 8px; /* top and bottom left and right */
   

}

article:first-of-type {
    border: 4px solid yellow;
}

/* This id has a higher specificity so it beats out the article selector */

#inprogress {
    border: 4px solid red;
}
#inprogress h2 {
    color: red;
}

#done {
    border: 4px solid green;
}
#done h2 {
    color: green;
}

ul {
    list-style-type: none;
}
ul li {
    padding: 6px 8px;
    text-transform: uppercase;
}

.todo li:nth-child(odd) {
    background-color: yellow;
}



.inprogress li:nth-child(odd) {
    background-color: rgba(255, 0, .5);
}

.done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}



input[type="checkbox"]:checked + span::after {
    content: "\1F44D";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    border: 4px solid #20b320;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 18px;
    animation: fadeIn 0.7s;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to{opacity: 1;}
}
.mark {
    border-radius: 20px;
    padding: 1%;
    background-color:rgba(164,186,183);
}